@import "tailwindcss";
@import "../design/tokens.css";
@import "../design/theme.css";

body {
  background: var(--theme-background-background);
  color: var(--theme-text-primary);
  font-family: var(--font-urbanist), sans-serif;
}
